<button class="navbar-toggler">
    <span></span>
</button>

<div id="side-nav" class="sidenav">

    <ul class="list-unstyled mb-0">
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
  
</div>