{% extends "layout/layout" %}

{% block content %}

    {% include "bricks/banner" %}

    {% set articles = craft.entries().section('blog').orderBy('postDate desc') %}
    {% if articles is defined and articles|length > 0 %}
    <div class="container py-5">
        <div class="row">
            {% for article in articles.all() %}
                <div class="col-md-4 blog-item my-4">
                    <a href="{{ article.getUrl() }}">
                        {% if article.banner is defined and article.banner|length > 0 %}
                            <figure>
                                <img class="img-fluid" src="{{ article.banner.one.getUrl('thumbnail') }}" alt="{{ article.banner.one }}" />
                            </figure>
                        {% endif %}

                        <div class="blog-detail">
                            <h4 class="mb-2">{{ article.title }}</h4>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
	
    {% include "components" %}

{% endblock %}

